<html>
<head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <script type="text/javascript" src="/js/config.js"> </script>
<script type="text/javascript" src="http://58.220.33.105:10001/ttxinshenshou/load.js"> </script>

    <title>开房查询</title>

    <script type="text/javascript" src="http://58.220.33.105:10001/ttxinshenshou/common/files/js/fastclick.js"></script>

    <link rel="stylesheet" type="text/css" href="http://58.220.33.105:10001/ttxinshenshou/common/files/css/alert.css">

    <style type="text/css">
        .rowGame{position:relative;left: 0; top: 0;margin-top: 0vw;left:0;width:100vw;height:35vw;overflow:hidden;}
        .rowGame .item{position: absolute;width:25vw;height:33vw;text-align: center;color:#fff;opacity: 0.3}
        .rowGame .item img{position: absolute;top: 1.5vw;left: 1vw;width: 23vw;height: 25vw;}
        .rowGame .item .gamename{position: absolute;bottom: 1.5vw;width: 100%;text-align: center;font-size: 11pt;}
        .gameScoreTitle{position:relative;top: 0vw;margin-top: 0.5vw;left:0;width:100vw;height:7vw;overflow:hidden;}
        .scoreRow{position: relative;top: 0vw;margin-top:1vw;overflow-y:scroll; height: 75vh}

    </style>
    <script type="text/javascript">

        window.addEventListener('load', function() {
            FastClick.attach(document.body);
        }, false);

        var yy_host=BaseUrl+'/'
        var vueheader={
            headers: {
                "Authorization": 'Bearer '+DynLoading.getWwid()
            },
        }
        var newNum = "";
        var per = window.innerWidth / 530;
        var globalData = {
            "baseUrl": yy_host+"",
            "fileUrl": "http://58.220.33.105:10001/ttxinshenshou/common/",
            "cfileUrl": "http://58.220.33.105:10001/ttxinshenshou/jiutian/",
            "gameList": eval('(' + '[{"game_type":"1","game_name":"斗牛合集","game_icon":"icon_bull6.png"},{"game_type":"4","game_name":"炸金花","game_icon":"icon_flower.png"},{"game_type":"5","game_name":"三公","game_icon":"icon_sangong.png"},{"game_type":"6","game_name":"二八杠","game_icon":"icon_erbagang.png"},{"game_type":"7","game_name":"斗地主","game_icon":"icon_landlord.png"},{"game_type":"8","game_name":"广东麻将","game_icon":"icon_majiang.png"},{"game_type":"9","game_name":"鱼虾蟹","game_icon":"icon_yxx.png"},{"game_type":"10","game_name":"牌九","game_icon":"icon_paijiu.png"},{"game_type":"12","game_name":"开船牛牛","game_icon":"icon_dxbull.png"},{"game_type":"13","game_name":"大吃小","game_icon":"icon_dcx.png"}]' + ')'),
            "hallPath":'/index.html'
        };
        var userData = {
            "accountId": "174459",
            "nickname": "lght",
            "avatar": "https://thirdwx.qlogo.cn/mmopen/vi_32/J1IuDOIJKPBUAOUGna67iaayicMp1DlFB29KePWfaPLicJ0cFrgsy5AFEEauHiat7WjfMkoV29DMyia5ib4kVlyOnnAg/132",
        };
        var configData = {
            "appId": "wx2c64a0294f8404ba",
            "timestamp": "1636134382",
            "nonceStr": "9c7e98548c029d1386cf2259f8d462ab",
            "signature": "cf5cd15ea3da82bbb2053dc1d87bc0b3d2d0b3f6",
        };

    </script>
</head>

<body style="position: fixed;margin: 0 auto;background: url(http://58.220.33.105:10001/ttxinshenshou/jiutian/files/images/hall/bj.jpg);background-size: 100vw 100vh;">

<div id="loading" style="position: fixed;width:100%;height:100%;top:0;left:0;background: #000" >
    <img src="http://58.220.33.105:10001/ttxinshenshou/common/files/images/common/loading.gif" style="top: 40%;position: absolute;left: 50%;margin-left: -45px;margin-top: -45px;" />
</div>

<div class="main" id="app-main" style="position: relative; width: 100%;margin: 0 auto;display: none;">
    <div id="memberDiv" class="rowGame" >
        <div v-bind:style="'position: relative;z-index:1;width:' + gameItems.length * 0.215 * width + 'px;'">
            <div v-for="(item,index) in gameItems" class="item" v-bind:style="'left:' + (3+(18+3)*index) + 'vw;'" v-on:click="clickGame(item)" v-bind:id="'game'+item.type">
                <img v-bind:src="item.avatar">
                <div class="gamename">{{item.name}}</div>
            </div>
        </div>
        <div class="backcolor"></div>
    </div>

    <div class="gameScoreTitle" >
        <div class="backcolor"></div>
        <div style="position: absolute;left: 5vw;font-size: 12pt;color: white">
            房间号
        </div>
        <div style="position: absolute;width: 100%;font-size: 12pt;color: white;text-align: center;">
            游戏时间
        </div>
        <!-- <div style="position: absolute;right: 5vw;font-size: 12pt;color: white;text-align: right;">
            房间状态
        </div> -->
    </div>

    <div class="scoreRow">
        <img style="position: fixed;width:12%;z-index:999;bottom:50px;right:20px;" class="bottomHome" src="http://58.220.33.105:10001/ttxinshenshou/common/files/images/common/icon_home3.png" v-on:click="gotoHall()" />
        <div class="backcolor"></div>
        <div style="position: relative;">
            <div v-for="(item, index) in gameScoreList" style="position: relative;width: 100%;height: 10vw;line-height: 10vw;text-align: center;margin-top: 2px;color: white;overflow:hidden;" v-on:click="clickScoreItem(item)">
                <div style="position: absolute;left: 5vw;font-size: 12pt;color: orange;text-align: left;">
                    {{item.number}}
                </div>
                <div style="position: absolute;width: 100%;font-size: 12pt;color: white;text-align: center;">
                    {{item.time}}
                </div>
                <!-- <div style="position: absolute;right: 5vw;font-size: 12pt;color: white;text-align: right;">
                    {{item.status}}
                </div> -->
            </div>
            <div id="moretext" style="position: relative;margin-top: 4px;color: #39d7ff;height: 10vw;text-align: center;line-height: 10vw;font-size: 2.2vh;display: none;" v-on:click="clickMore">
                <div class="backcolor"></div>
                点击加载更多
            </div>
        </div>
    </div>

</div>

</body>

<script type="text/javascript" src="http://58.220.33.105:10001/ttxinshenshou/common/files/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://58.220.33.105:10001/ttxinshenshou/common/files/js/bscroll.min.js"></script>
<script src="http://58.220.33.105:10001/ttxinshenshou/jweixin-1.0.0.js" ></script>
<script type="text/javascript" src="http://58.220.33.105:10001/ttxinshenshou/common/files/js/vue.min.js" ></script>
<script type="text/javascript" src="http://58.220.33.105:10001/ttxinshenshou/common/files/js/vue-resource.min.js" ></script>
<script type="text/javascript" src="http://58.220.33.105:10001/ttxinshenshou/common/files/js/roomList.js"></script>
<script>
    $(document).on('click', 'img', function(e){
        e.preventDefault();
    })
</script>

</html>
